@use "../../../global/" as *;

.p-vision {
  margin-top: 4.5rem;

  @include mq(pc) {
    margin-top: 7rem;
  }

  &__container {
    width: fit-content;

    @include mq(tab) {
      width: 29.2rem;
      margin: auto;
    }
    @include mq(pc) {
      width: 39.5rem;
    }
  }

  &__sectionTitle {
    font-size: rem(32);
  }

  &__headText {
    font-family: $f-family-NotoSans;
    font-weight: $f-weight-bold;
    font-size: rem(24);
    margin-top: 1.3rem;

    @include mq(tab) {
      margin-top: 0.85rem;
      letter-spacing: ls(5);
    }
  }

  &__box {
    margin: 1.45rem auto 0;

    @include mq(pc) {
      margin-top: 1.1rem;
    }

    &__text {
      font-family: $f-family-NotoSans;
      font-weight: $f-weight-bold;
      font-size: rem(14);
      line-height: lh(14, 28);

      @include mq(pc) {
        font-size: rem(16);
        line-height: lh(16, 32);
      }

      & + p {
        margin-top: 1.75rem;

        @include mq(pc) {
          margin-top: 2rem;
        }
      }
    }
  }
}
