@use "../../../global/" as *;

.p-company {
  margin-top: rem(80);

  @include mq(pc) {
    margin-top: rem(120);
  }

  &__sectionTitle{
    font-size: rem(32);
    padding-bottom: rem(30);
    border-bottom: rem(1) solid #DDD;
  }

  &__info {
    max-width: rem(800);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    @include mq(tab) {
      margin-left: rem(32);
    }

    @include mq(pc) {
      margin-left: auto;
    }

    & th,
    & td {
      padding: rem(20) 0;
      font-family: $f-family-NotoSans;
      font-size: rem(14);
      text-align: left;
      border-bottom: rem(1) solid #DDD;

      @include mq(tab) {
        font-size: rem(16);
      }
    }

    & th {
      width: rem(160);
      font-weight: $f-weight-bold;

      @include mq(tab) {
      width: rem(144);
      }
    }
    
    & td {
      font-weight: $f-weight-regular;
    }
  }

  &__map {
    margin-top: rem(40);

    & iframe {
      width: 100%;
      height: rem(470);

      @include mq(tab) {
        height: rem(230);
      }
      @include mq(pc) {
        height: rem(360);
      }
    }
  }
}