@use "../../../global/" as *;

.p-about-cover {
  width: 100%;
  background-color: #fff;

  &__wrapper {
    position: relative;
  }

  &__img {
    position: absolute;
    width: vw(sp, 287);
    height: vh(sp, 387);
    position: absolute;
    background-image: url("#{$img-path}about_heading@2x.jpg");
    background-position: center center;
    background-size: cover;

    @include mq(tab) {
      width: vw(tab, 587);
      height: vh(tab, 529);
    }

    @include mq(pc) {
      width: vw(pc, 1100);
      height: vh(pc, 387);
    }
  }

  &__bg {
    width: vw(sp, 198);
    height: vh(sp, 449);
    margin-left: auto;
    background-color: #222;

    @include mq(tab) {
      width: vw(tab, 406);
      height: vh(tab, 615);
    }

    @include mq(pc) {
      width: vw(pc, 780);
      height: vh(pc, 464);
    }
  }


  &__catch {
    position: absolute;
    top: vh(sp, 150);
    right: vw(sp, 30);
    z-index: 1;

    @include mq(tab) {
      top: vh(tab, 220);
      right: vw(tab, 100);
    }

    @include mq(pc) {
      top: vh(pc, 156);
      right: vw(pc, 170);
    }

    
    &__title {
      font-size: rem(52);
      line-height: lh(72, 86);
      color: $color-white;

      @include mq(tab) {
        letter-spacing: ls(63);
      }

      @include mq(pc) {
        font-size: rem(72);
      }

      &.is-hide {
        opacity: 0;
        transform: translateX(30%);
        transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); // easeOutQuint
      }

      &.is-show {
        opacity: 1;
        transform: translate(0);
      }
    }
    &__text {
      font-size: rem(16);
      font-family: $f-family-NotoSans;
      font-weight: $f-weigth-bold;
      color: $color-white;
      margin-top: rem(5);

      @include mq(tab) {
        letter-spacing: ls(5);
      }

      &.is-hide {
        opacity: 0;
        transform: translateY(40%);
        transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); // easeOutQuint
        transition-delay: 0.3s;
      }

      &.is-show {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}