@use "../../../global/" as *;

.p-about-cover {
  width: 100%;
  background-color: #fff;

  &__wrapper {
    position: relative;
  }

  &__img {
    position: absolute;
    width: vw(sp, 287);
    height: rem(387);
    position: absolute;
    background-image: url("#{$img-path}about/about_cover.jpg");
    background-position: 54% top;
    background-size: auto 175%;

    &.c-musk__black::before {
      background-color: rgba(0, 0, 0, 0.34);
    }

    @include mq(tab) {
      width: vw(tab, 587);
      height: rem(529);
      background-position: 48% 3%;
      background-size: auto 160%;
    }

    @include mq(pc) {
      width: vw(pc, 1100);
      height: rem(387);
      background-position: center 13%;
      background-size: cover;
    }
  }

  &__bg {
    width: vw(sp, 198);
    height: rem(449);
    margin-left: auto;
    background-color: #222;

    @include mq(tab) {
      width: vw(tab, 406);
      height: rem(615);
    }

    @include mq(pc) {
      width: 53vw;
      height: rem(464);
    }
  }

  &__catch {
    position: absolute;
    top: rem(150);
    right: vw(sp, 30);
    z-index: 1;

    @include mq(tab) {
      top: rem(220);
      right: 12.5vw;
    }

    @include mq(pc) {
      top: 9.8rem;
      right: 10.4vw;
    }

    &__title {
      display: block;
      font-size: rem(52);
      line-height: lh(72, 86);
      font-family: $f-family-Montserrat;
      font-weight: $f-weight-extraBold;
      color: $color-white;

      @include mq(tab) {
        letter-spacing: 0.2rem;
      }

      @include mq(pc) {
        font-size: rem(72);
        letter-spacing: 0.27rem;
      }
    }

    &__text {
      display: block;
      font-size: rem(16);
      font-family: $f-family-NotoSans;
      font-weight: $f-weight-bold;
      color: $color-white;
      margin-top: 0.2rem;

      @include mq(tab) {
        letter-spacing: ls(5);
      }
      @include mq(pc) {
        letter-spacing: 0.18rem;
      }
    }
  }
}
