@use "../global/" as *;

// .js-○○には処理内容を表す単語
// .is-○○には状態を表す単語

// メニューボタンクリック時の開閉アクション
.is-close {
  transform: translateX(100%);
  visibility: hidden;
}

.is-open {
  transform: translateX(0);
  visibility: visible;
}