<section class="p-company c-sectionPading ">
  <div class="p-company__wrapper c-sectionWidth">
    <div class="p-company__container">
      <h2 class="p-company__sectionTitle c-sectionTitle u-fadeIn__right js-showTarget">COMPANY</h2>
      <table class="p-company__info">
        <tr class="u-fadeIn__right js-showTarget">
          <th>社名</th>
          <td>株式会社DIGSMILE</td>
        </tr>
        <tr class="u-fadeIn__right js-showTarget">
          <th>代表取締役</th>
          <td>テイラー・スウィフト</td>
        </tr>
        <tr class="u-fadeIn__right js-showTarget">
          <th>設立</th>
          <td>2020年1月1日</td>
        </tr>
        <tr class="u-fadeIn__right js-showTarget">
          <th>資本金</th>
          <td>1億円</td>
        </tr>
        <tr class="u-fadeIn__right js-showTarget">
          <th>所在地</th>
          <td>東京都新宿区☓☓0-0-0</td>
        </tr>
        <tr class="u-fadeIn__right js-showTarget">
          <th>電話番号</th>
          <td>03-0000-00000</td>
        </tr>
      </table>
    </div>
    <div class="p-company__map u-fadeIn__right js-showTarget">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12961.952053542942!2d139.7005713!3d35.6896067!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1682344412171!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>