<section class="p-company c-sectionPading ">
  <div class="p-company__wrapper c-sectionWidth">
    <div class="p-company__container">
      <h2 class="p-company__sectionTitle c-sectionTitle">COMPANY</h2>
        <table class="p-company__info">
          <tr class="p-company__info__tr">
            <th class="p-company__info__th">社名</th>
            <td class="p-company__info__td">株式会社DIGSMILE</td>
          </tr>
          <tr class="p-company__info__tr">
            <th class="p-company__info__th">代表取締役</th>
            <td class="p-company__info__td">テイラー・スウィフト</td>
          </tr>
          <tr class="p-company__info__tr">
            <th class="p-company__info__th">設立</th>
            <td class="p-company__info__td">2020年1月1日</td>
          </tr>
          <tr class="p-company__info__tr">
            <th class="p-company__info__th">資本金</th>
            <td class="p-company__info__td">1億円</td>
          </tr>
          <tr class="p-company__info__tr">
            <th class="p-company__info__th">所在地</th>
            <td class="p-company__info__td">東京都新宿区☓☓0-0-0</td>
          </tr>
          <tr class="p-company__info__tr">
            <th class="p-company__info__th">電話番号</th>
            <td class="p-company__info__td">03-0000-00000</td>
          </tr>
        </table>
      </div>
    <div class="p-company__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12961.952053542942!2d139.7005713!3d35.6896067!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1682344412171!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>      