<!-- カバー -->
<section class="p-about-cover">

  <div class="p-about-cover__wrapper">
    <div class="p-about-cover__img"></div>
    <div class="p-about-cover__bg"></div>

    <h1 class="p-about-cover__catch">
      <p class="p-about-cover__catch__title js-showTarget is-hide">ABOUT US</p>
      <p class="p-about-cover__catch__text js-showTarget is-hide">DIGSMILEについて</p>
    </h1>

  </div>
</section>