<!-- カバー -->
<section class="p-about-cover">

  <div class="p-about-cover__wrapper">
    <div class="p-about-cover__img c-musk__black js-coverImg"></div>
    <div class="p-about-cover__bg js-coverBg"></div>

    <h1 class="p-about-cover__catch">
      <span class="p-about-cover__catch__title u-fadeIn__right js-showTarget">ABOUT US</span>
      <span class="p-about-cover__catch__text u-fadeIn__bottom u-delay--300ms js-showTarget">DIGSMILEについて</span>
    </h1>
  </div>
</section>