<section class="p-message">
  <div class="p-message__wrapper">
    <div class="p-message__img c-musk__black u-fadeIn__right js-showTarget">
      <img src="<%= imgUrl %>/about/message@2x.jpg" alt="CEO MESSAGE">
    </div>
    <div class="p-message__inner">
      <div class="p-message__container u-fadeIn__left js-showTarget">
        <h2 class="p-message__sectionTitle c-sectionTitle">CEO MESSAGE</h2>
        <div class="p-message__box">
          <p class="p-message__box__text">良いデザインは人を幸せにする。</p>
          <p class="p-message__box__text">私達はそう信じています。</p>
          <p class="p-message__box__text">デザインを通して、ビジネスの課題とユーザーの課題を解決することで、世の中を幸せにしていきたい。</p>
          <p class="p-message__box__text">現在はあらゆるプロダクトがデジタル化されており、デザイナーに対する需要はますます高まっています。それとともに、期待される役割も幅広くなりつつあります。</p>
          <p class="p-message__box__text">クリエイティブで社会の可能性を切り開いていく。</p>
          <p class="p-message__box__text">変化の激しい現代、私達はデザインの力で社会を良い方向に変革していく企業を目指していきます。</p>
        </div>
      </div>
    </div>
  </div>
</section>