<section class="p-vision c-sectionPading">
  <div class="p-vision__wrapper c-sectionWidth">
    <div class="p-vision__container">
      <h2 class="p-vision__sectionTitle c-sectionTitle u-fadeIn__right js-showTarget">VISION</h2>
      <h3 class="p-vision__headText u-fadeIn__right js-showTarget">デザインで人を笑顔にする会社</h3>
      <div class="p-vision__box"> 
        <p class="p-vision__box__text u-fadeIn__right js-showTarget">私達のデザインで人が笑顔になる。</p>
        <p class="p-vision__box__text u-fadeIn__right js-showTarget">そんなデザインを目指しています。</p>
        <p class="p-vision__box__text u-fadeIn__right js-showTarget">私達が考える人を笑顔にできるデザインとは、<br>デザインが課題を適切に解決ができているかどうか。</p>
        <p class="p-vision__box__text u-fadeIn__right js-showTarget">ビジュアルだけではなく、<br>本当に求められているものは何かを考え抜いて、<br>デザインしていきたい。</p>
        <p class="p-vision__box__text u-fadeIn__right js-showTarget">誰かの幸せを創ることも、<br>世界の常識を変えていくことだってできる。</p>
        <p class="p-vision__box__text u-fadeIn__right js-showTarget">私達はデザインの力を信じています。</p>
      </div>
    </div>
  </div>
</section>