<!-- Sliderを包むコンテナ要素 -->
<div class="swiper">
  <!-- スライド要素を包む要素 -->
  <div class="swiper-wrapper">
    <!-- 各スライド -->
    <div class="swiper-slide slideImg--1 c-musk__black"></div>
    <div class="swiper-slide slideImg--2 c-musk__black"></div>
    <div class="swiper-slide slideImg--3 c-musk__black"></div>
    <div class="swiper-slide slideImg--4 c-musk__black"></div>
  </div>
  <!-- ページネーション -->
  <div class="swiper-pagination"></div>
</div>