@use "../../global/" as *;

// メニューボタン
.p-menuButton {
  position: fixed;
  top: 1.35rem;
  right: 0.95rem;
  display: flex;
  align-items: center;
  column-gap: 0.38rem;
  z-index: 3;

  @include mq(tab) {
    top: 2.2rem;
    right: 1.85rem;
  }

  @include mq(pc) {
    top: 2.1rem;
    right: 2.5rem;
  }

  &__trigger {
    position: relative;
    width: rem(24);

    &__bar {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: rem(2);
      border-radius: rem(2);
      background-color: $color-white;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); // easeOutQuint

      &:nth-of-type(1) {
        transform: translate(-50%, calc(-50% - rem(5))) rotate(0deg);
      }

      &:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      &:nth-of-type(3) {
        transform: translate(-50%, calc(-50% - rem(-5))) rotate(0deg);
      }
    }
  }

  &__title {
    font-family: $f-family-heading;
    color: $color-white;
    font-size: rem(10);
  }
}

// メニューボタンクリック時のボタン変形
.is-open .p-menuButton__trigger__bar {
  &:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(-25deg);
  }

  &:nth-of-type(2) {
    width: 0;
  }

  &:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(25deg);
  }
}

// メインビジュアルから外れたら色変更
.p-menuButton.is-black .p-menuButton__trigger__bar {
  background-color: $color-black;
  transition: all 0.3s;
}

.p-menuButton.is-black .p-menuButton__title {
  color: $color-black;
  transition: all 0.3s;
}

// メニューナビゲーション
.p-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  z-index: 2;

  &.is-close {
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); // easeOutExpo
    visibility: hidden;
  }
  &.is-open {
    transform: translateX(0);
    visibility: visible;
  }

  &__bg {
    width: 0;
    height: 100%;
    background-color: rgba(#222, 0.6);
    transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1); // easeOutSine
  }

  &__wrap {
    width: rem(220);
    height: 100%;
    background-color: rgba(#222, 0.95);
    transition: all 1s;

    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.43rem;
      padding-top: 23.5vh;

      &__logo {
        padding-left: 1.2rem;
      }

      &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.26rem;
        color: $color-white;
        font-family: $f-family-primary;
        font-weight: $f-weight-extraBold;
        font-size: rem(20);
        letter-spacing: ls(68);
        padding-left: 1.2rem;
      }
    }
  }
}

.is-open {
  & .p-menu__bg {
    width: calc(100% - 31.5rem);
  }

  & .p-menu__wrap {
    width: 31.5rem;
  }
}
