@use "../../global/" as *;


.p-newsList {
  display: flex;
  flex-direction: column;
  row-gap: rem(20);

  @include mq(tab) {
    row-gap: rem(28);
  }

  &__item {
    width: 100%;
    padding-bottom: 0.33rem;
    border-bottom: rem(1) solid #DDDDDD;

    &__data {
      font-family: $f-family-primary;
      font-weight: $f-weight-bold;
      font-size: rem(10);
      letter-spacing: ls(15);
      color: #CECECE;
    }

    &__text {
      margin-top: 0.4rem;
      font-family: $f-family-YuGothic;
      font-feature-settings: "palt";
      font-weight: $f-weight-bold;
      font-size: rem(12);
      color: $color-black;

      @include mq(tab) {
        font-size: rem(14);
      }
    }
  }
}
