@use "../../global" as *;


.p-about {
  &__text {
    font-weight: $f-weigth-medium;
    font-size: rem(14);
    line-height: lh(14, 28);
    color: #333;
    margin-top: rem(30);
    
    @include mq(tab) {
      font-size: rem(16);
      line-height: lh(16, 32);
    }
  }

  &__button {
    margin-top: rem(80);

    @include mq(tab) {
      margin-top: rem(50);
    }
    @include mq(pc) {
      margin-top: rem(26);
    }
  }
}