@use "../../global/" as *;

.p-about {
  &__wrapper {
    padding-top: rem(50);
    padding-bottom: rem(50);
    background-image: url("#{$img-path}about.jpg");
    background-position: center center;
    background-size: cover;
  
    @include mq(tab) {
      padding-top: rem(110);
      padding-bottom: rem(110);
    }
  
    @include mq(pc) {
      padding-top: rem(60);
      padding-bottom: rem(60);
      padding-left: rem(30);
    }

    &__container {
      max-width: rem(590);
      padding: rem(50) rem(15) rem(50) rem(30);
      margin: auto;
      background-color: #fff;
      opacity: 0.95;

      @include mq(tab) {
        padding: rem(40) rem(30) rem(40) rem(30);
      }
      @include mq(pc) {
        padding: rem(50) rem(30) rem(50) rem(30);
        margin: 0;
      }

      &.is-hide {
        opacity: 0;
        transform: scale(1.3);
        transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); // easeOutQuint
      }
      &.is-show {
        opacity: 1;
        transform: scale(1) translate(0);
      }
    }
  }

  &__text {
    font-weight: $f-weigth-medium;
    font-size: rem(14);
    line-height: lh(14, 28);
    color: $color-black;
    margin-top: rem(30);
    
    @include mq(tab) {
      font-size: rem(16);
      line-height: lh(16, 32);
    }
  }

  &__button {
    margin-top: rem(80);

    @include mq(tab) {
      margin-top: rem(50);
    }
    @include mq(pc) {
      margin-top: rem(26);
    }
  }
}