@use "../../global/" as *;

.p-culture {
  &__wrapper {
    padding-top: rem(40);
    padding-bottom: rem(40);

    @include mq(tab) {
      padding-top: rem(60);
    }
    @include mq(pc) {
      padding-top: 0;
    }
  }

  &__container {
    max-width: rem(520);
    margin-left: 0;
  }

  &__img {
    margin-top: rem(30);

    &.is-hide {
      opacity: 0;
      transform: translateX(30%);
      transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); // easeOutQuint
    }
    &.is-show {
      opacity: 1;
      transform: translate(0);
    }
  }

  &__text {
    font-family: $f-family-body;
    font-weight: $f-weigth-medium;
    margin-top: rem(28);
  }

  &__button {
    margin-top: rem(28);
  }
}