// dir
$img-path: "../images/";

//color（どれ使うか悩み中）
$color-primary: #000;
$color-secondary: #000;
$color-tertiary: #000;
$color-quaternary: #000;

$color-base01: #000;
$color-base02: #000;

$color: #000;
$color-background: #000;
$color-title: #000;
$color-text: #000;
$color-border: #000;
$color-accent: #000;
$color-link: #000;
$color-hover: #000;

$color-black: #333;
$color-white: #fff;


// font-family
$f-family-primary: Montserrat, sans-serif;
$f-family-secondary: YuGothic, sans-serif;
$f-family-tertiary: system-ui, sans-serif;
$f-family-quaternary: system-ui, sans-serif;

$f-family-heading: Montserrat, sans-serif;
$f-family-body: YuGothic, sans-serif;

$f-family-NotoSans: 'Noto Sans JP', sans-serif;

// font-weight
$f-weigth-thin: 100;
$f-weigth-ultraLight: 100;
$f-weigth-extraLight: 200;
$f-weigth-light: 300;
$f-weigth-regular: 400;
$f-weigth-normal: 400;
$f-weigth-semiLight: 400;
$f-weigth-medium: 500;
$f-weigth-semiBold: 600;
$f-weigth-demiBold: 600;
$f-weigth-bold: 700;
$f-weigth-extraBold: 800;
$f-weigth-ultraBold: 900;
$f-weigth-black: 900;
$f-weigth-heavy: 900;

$f-weigth-w1: 100;
$f-weigth-w2: 200;
$f-weigth-w3: 300;
$f-weigth-w4: 400;
$f-weigth-w5: 500;
$f-weigth-w6: 600;
$f-weigth-w7: 700;
$f-weigth-w8: 800;
$f-weigth-w9: 900;


