<%# ページIDを入力する %>
<% pageId = 'about'; %>

<%# グローバル変数（全部に渡す） %>
<%
baseUrl = json.pages[pageId].dir;
imgUrl = baseUrl + 'assets/images/';
%>

<%# ローカル変数（一部に渡す） %>
<%#
const test = json.pages[pageId].dir;
%>

<%# ヘッド %>
<%- include(json.pages[pageId].dir + '_common/_head.ejs') %>

<%# ヘッダー %>
<%- include(json.pages[pageId].dir + '_common/_header.ejs') %>

<%# メイン %>
<!-- メイン -->
<main class="l-main__about">

</main>

<%# フッター %>
<%- include(json.pages[pageId].dir + '_common/_footer.ejs') %>

<%# スクリプト %>
<%- include(json.pages[pageId].dir + '_common/_script.ejs') %>

<%# 構文メモ用 %>
<%# include(json.pages[pageId].dir + '_common/_footer.ejs', {
  pageId: pageId
}) %>