<!-- カバー -->
<section class="p-contact-cover">

  <div class="p-contact-cover__wrapper">
    <div class="p-contact-cover__img c-musk__black"></div>
    <div class="p-contact-cover__bg"></div>

    <h1 class="p-contact-cover__catch">
      <span class="p-contact-cover__catch__title u-fadeIn__right js-showTarget">CONTACT</span>
      <span class="p-contact-cover__catch__text u-fadeIn__bottom u-delay--300ms js-showTarget">お問い合わせ</span>
    </h1>

    <p class="p-contact-cover__scroll">SCROLL</p>
  </div>
</section>