@use "../../global/" as *;

// .js-○○には処理内容を表す単語…スタイル調整無し
// .is-○○には状態を表す単語…単独パーツに使用、クラス名とセットで個別にスタイル調整用
// .u-state__…は復数パーツに使用

.u-state__hide {
  opacity: 0;
}

.u-state__fade__left {
  opacity: 0;
  transform: translateX(-30%);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); // easeOutQuint

  &--run {
    transform: translateX(0);
  }
}

.u-state__delay--300ms {
  transition-delay: 0.3s;
}