@use "../../global/" as *;

.u-state__hide {
  opacity: 0;
}

.u-state__delay--300ms {
  transition-delay: 0.3s;
}

// 'u-state__show'は優先順位を上げるために一番下に記述すること
.u-state__show {
  opacity: 1;
  transform: scale(1) translate(0);
}

// メニューボタンクリック時の開閉アクション
.u-state__close {
  transform: translateX(100%);
  visibility: hidden;
}

.u-state__open {
  transform: translateX(0);
  visibility: visible;
}