@use "../global/" as *;

.l-main-about {
  padding-bottom: 4.22rem;

  @include mq(tab) {
    padding-bottom: 4.41rem;
  }

  @include mq(pc) {
    padding-bottom: 6.86rem;
  }
}

.l-main-contact {
  padding-bottom: rem(80);

  @include mq(tab) {
    padding-bottom: rem(197);
  }

  @include mq(pc) {
    padding-bottom: rem(120);
  }
}
