@use "../global" as *;

/* COVER ----------------------------------*/
.l-cover {
  height: calc(100vh + rem(80));
  background-color: #fff;

  &__wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
  }
}


/* ABOUT ----------------------------------*/
.l-about {

  &__wrapper {
    padding-top: rem(50);
    padding-bottom: rem(50);
    background-image: url("#{$img-path}about.jpg");
    background-position: center center;
    background-size: cover;
  
    @include mq(tab) {
      padding-top: rem(110);
      padding-bottom: rem(110);
    }
  
    @include mq(pc) {
      padding-top: rem(60);
      padding-bottom: rem(60);
      padding-left: rem(30);
    }

    &__container {
      max-width: rem(590);
      padding: rem(50) rem(15) rem(50) rem(30);
      margin: auto;
      background-color: #fff;
      opacity: 0.95;

      @include mq(tab) {
        padding: rem(40) rem(30) rem(40) rem(30);
      }
      @include mq(pc) {
        padding: rem(50) rem(30) rem(50) rem(30);
        margin: 0;
      }
    }
  }
}

/* WORKS ----------------------------------*/
.l-works {

  &__wrapper {
    padding-top: rem(40);

    @include mq(tab) {
      padding-top: rem(60);
    }
    @include mq(pc) {
      padding-top: 0;
    }
  }

  &__container {
    max-width: rem(520);
    margin-left: 0;
  }
}
/* CULTURE ----------------------------------*/
.l-culture {

  &__wrapper {
    padding-top: rem(40);
    padding-bottom: rem(40);

    @include mq(tab) {
      padding-top: rem(60);
    }
    @include mq(pc) {
      padding-top: 0;
    }
  }

  &__container {
    max-width: rem(520);
    margin-left: 0;
  }
}

/* LATEST TOPICS ----------------------------------*/
.l-topics {
  &__wrapper {
    padding-top: rem(40);
    padding-bottom: rem(40);

    @include mq(pc) {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }
  }
}

/* CONTACT ----------------------------------*/
.l-contact {
  padding-top: rem(40);
  padding-bottom: rem(40);
  background-color: #F2F2F2;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap:rem(30);
    max-width: rem(520);
    margin-left: 0;

    @include mq(pc) {
      flex-direction: row-reverse;
      justify-content: space-between;
      max-width: rem(1100);
      margin: auto;
    }
  }
}