<!-- ABOUT US -->
<section id="about" class="p-about">
  <div class="p-about__wrapper c-sectionPading c-sectionWidth">
    <div class="p-about__wrapper__container js-showTarget is-hide">
      <h2 class="p-about__sectionTitle c-sectionTitle">ABOUT US</h2>
      <p class="p-about__text">DIGSMILEは、デザインで人を笑顔にする会社。<br>なんでもない日常に少しのワクワクと遊び心を提供します。笑顔には世界を変える力がある、デザインには人を幸せにする力がある。毎日に幸せを感じて生きていきたい。<br>DIGSMILEの社名にはそんな想いが込められています。</p>
      <p class="p-about__button c-button"><a class="u-hover__opacity" href="#">READ MORE</a></p>
    </div>
  </div>
</section>