<!-- CONTACT -->
<section id="contact" class="p-contact c-sectionPading">
  <div class="p-contact__wrapper c-sectionWidth">
    <div class="p-contact__container">
      <div class="p-contact__img c-musk__black u-fadeIn__right js-showTarget">
        <img src="<%= imgUrl %>/top/contact@2x.jpg" alt="CONTACT">
      </div>
      <div class="p-contact__box">
        <h2 class="p-contact__sectionTitle c-sectionTitle u-fadeIn__right--mqPcLeft js-showTarget">CONTACT</h2>
        <p class="p-contact__text u-fadeIn__right--mqPcLeft js-showTarget">制作の依頼、取材の依頼、IRや採用についての連絡・お問い合わせはコンタクトページから承っております。<br>まずはお気軽にご連絡ください。担当者から改めて返信いたします。</p>
        <p class="p-contact__button c-button u-fadeIn__right--mqPcLeft js-showTarget"><a class="u-hover__opacity" href="/contact">READ MORE</a></p>
      </div>
    </div>
  </div>
</section>