<!-- カバー -->
<section class="p-cover">

  <div class="p-cover__wrapper">
    <!-- カルーセル -->
    <div class="p-carousel js-coverImg">
      <%- include('../../_modules/_carousel.ejs') %>
    </div>

    <div class="p-cover__bg js-coverBg"></div>

    <h1 class="p-cover__catch">
      <span class="p-cover__catch__text u-yuGothic u-bold u-fadeIn__top u-delay--300ms js-showTarget">デザインで人を笑顔にする会社</span>
      <span class="p-cover__catch__text u-montserrat u-bold u-fadeIn__top u-delay--300ms  js-showTarget">DIGSMILE INC.</span>
      <span class="p-cover__catch__title u-montserrat u-extraBold u-fadeIn__right js-showTarget">DESIGN<br>FOR<br>SMILE.</span>
    </h1>

    <p class="p-cover__scroll">SCROLL</p>
  </div>
</section>