<!-- カバー -->
<section class="p-cover">

  <div class="p-cover__wrapper">
    <div class="p-cover__bg"></div>

    <!-- カルーセル -->
    <div class="p-carousel">
      <%- include('../../_modules/_carousel.ejs') %>
    </div>

    <h1 class="p-cover__catch">
      <p class="p-cover__catch__text u-font--body u-bold js-showTarget is-hide">デザインで人を笑顔にする会社</p>
      <p class="p-cover__catch__text u-font--heading u-bold js-showTarget is-hide">DIGSMILE INC.</p>
      <p class="p-cover__catch__name js-showTarget is-hide">DESIGN<br>FOR<br>SMILE.</p>
    </h1>

    <p class="p-cover__scroll">SCROLL</p>
  </div>
</section>