<!-- CULTURE -->
<section id="culture" class="p-culture">
  <div class="p-culture__wrapper c-sectionWidth">
    <div class="p-culture__container">
      <h2 class="p-culture__sectionTitle c-sectionTitle u-fadeIn__right js-showTarget">CULTURE</h2>
      <div class="p-culture__img c-musk__black u-fadeIn__right js-showTarget">
        <img src="<%= imgUrl %>/top/culture@2x.jpg" alt="CULTURE">
      </div>
      <p class="p-culture__text u-fadeIn__right js-showTarget">DIGSMILEの社内文化について紹介します。</p>
      <p class="p-culture__button c-button u-fadeIn__right js-showTarget"><a class="u-hover__opacity" href="#">READ MORE</a></p>
    </div>
  </div>
</section>