<!-- CULTURE -->
<section id="culture" class="p-culture">
  <div class="p-culture__wrapper c-sectionWidth">
    <div class="p-culture__container">
      <h2 class="p-culture__sectionTitle c-sectionTitle">CULTURE</h2>
      <img class="p-culture__img js-showTarget is-hide" src="<%= imgUrl %>culture.jpg" alt="CULTURE">
      <p class="p-culture__text">DIGSMILEの社内文化について紹介します。</p>
      <p class="p-culture__button c-button u-hover__opacity"><a href="#">READ MORE</a></p>
    </div>
  </div>
</section>