<!-- LATEST TOPICS -->
<section id="topics" class="p-topics c-sectionPading">
  <div class="p-topics__wrapper c-sectionWidth">
    <h2 class="p-topics__sectionTitle c-sectionTitle">LATEST TOPICS</h2>
    <div class="p-topics__container">
      <ul class="p-newsList">
        <%- include('../../_modules/_newsList.ejs') %>
      </ul>
      <a class="p-topics__button c-button u-hover__opacity" href="#"><p>READ MORE</p></a>
    </div>
  </div>
</section>