<!-- LATEST TOPICS -->
<section id="topics" class="p-topics c-sectionPading">
  <div class="p-topics__wrapper c-sectionWidth">
    <h2 class="p-topics__sectionTitle c-sectionTitle u-fadeIn__right js-showTarget">LATEST TOPICS</h2>
    <div class="p-topics__container">
      <ul class="p-newsList">
        <%- include('../../_modules/_newsList.ejs') %>
      </ul>
      <p class="p-topics__button c-button u-fadeIn__right js-showTarget"><a class="u-hover__opacity" href="#">READ MORE</a></p>
    </div>
  </div>
</section>