<!-- WORKS -->
<section id="works" class="p-works">
  <div class="p-works__wrapper c-sectionWidth">
    <div class="p-works__container u-fadeIn__right--mqPcLeft js-showTarget">
      <h2 class="p-works__sectionTitle c-sectionTitle u-fadeIn__right--mqPcLeft js-showTarget">WORKS</h2>
      <div class="p-works__img c-musk__black u-fadeIn__right--mqPcLeft js-showTarget">
        <img src="<%= imgUrl %>/top/works@2x.jpg" alt="WORKS">
      </div>
      <p class="p-works__text u-fadeIn__right--mqPcLeft js-showTarget">DIGSMILEの制作実績を紹介します。</p>
      <p class="p-works__button c-button u-fadeIn__right--mqPcLeft js-showTarget"><a class="u-hover__opacity" href="#">READ MORE</a></p>
    </div>
  </div>
</section>