<!-- WORKS -->
<section id="works" class="l-works">
  <div class="p-works__wrapper c-sectionWidth">
    <div class="p-works__container">
      <h2 class="p-works__sectionTitle c-sectionTitle">WORKS</h2>
      <img class="p-works__img js-showTarget u-state__hide" src="<%= imgUrl %>work.jpg" alt="WORKS">
      <p class="p-works__text">DIGSMILEの制作実績を紹介します。</p>
      <a class="p-works__button c-button u-hover__opacity" href="#"><p>READ MORE</p></a>
    </div>
  </div>
</section>