@use "../../../global/" as *;

.p-works {
  &__wrapper {
    padding-top: 2rem;

    @include mq(tab) {
      padding-top: 3.25rem;
    }
    @include mq(pc) {
      padding-top: 0;
    }
  }

  &__container {
    max-width: rem(520);
    margin-left: 0;
  }

  &__img {
    margin-top: 1.5rem;

    &.c-musk__black::before {
      background-color: rgba(0, 0, 0, 0.20);
    }
  }

  &__text {
    font-family: $f-family-YuGothic;
    font-feature-settings: "palt";
    font-weight: $f-weight-medium;
    margin-top: rem(28);
  }

  &__button {
    margin-top: 1.5rem;
  }
}