@use "../../global/" as *;

.c-button {
  & a {
    padding: 0.72rem 3rem;
    font-size: rem(11);
    font-family: $f-family-primary;
    font-weight: $f-weight-bold;
    color: $color-white;
    background-color: #000;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.6;
    }

    @include mq(pc) {
      font-size: rem(12);
    }
  }
}