<!-- CONTACT -->
<section id="contact" class="l-contact c-sectionPading">
  <div class="l-contact__wrapper c-sectionWidth">
    <div class="l-contact__container">
      <img class="p-contact__img js-showTarget is-hide__fadeIn--Right" src="<%= imgUrl %>contact.jpg" alt="CONTACT">
      <div class="p-contact__box">
        <h2 class="p-contact__sectionTitle c-sectionTitle">CONTACT</h2>
        <p class="p-contact__text">制作の依頼、取材の依頼、IRや採用についての連絡・お問い合わせはコンタクトページから承っております。<br>まずはお気軽にご連絡ください。担当者から改めて返信いたします。</p>
        <a class="p-contact__button c-button u-hover__opacity" href="#">READ MORE</a>
      </div>
    </div>
  </div>
</section>