<!-- CULTURE -->
<section id="culture" class="l-culture">
  <div class="l-culture__wrapper c-sectionWidth">
    <div class="l-culture__container">
      <h2 class="p-culture__sectionTitle c-sectionTitle">CULTURE</h2>
      <img class="p-culture__img js-showTarget is-hide__fadeIn--Right" src="<%= imgUrl %>culture.jpg" alt="CULTURE">
      <p class="p-culture__text">DIGSMILEの社内文化について紹介します。</p>
      <a class="p-culture__button c-button u-hover__opacity" href="#">READ MORE</a>
    </div>
  </div>
</section>